@font-face {
    font-family: graduate;
    src: url(fonts/Graduate-Regular.ttf);
}

.b{
    border: 1px solid red;
}
.e *{
    border: 1px solid blue;
}

*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.fontFam{
    font-family: graduate;
}
body{
    height: 100vh;
    position: relative;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
html{
    scroll-behavior: smooth
}

/* Cart in the Corner */
.cartCorner{
    height: 50px;
    width: fit-content;
    padding-left: 10px;
    z-index: 20;
    background-color:rgb(255, 199, 17);
    color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 0;
    cursor: pointer;
    transition: 200ms;
}
.cartCorner h1{
    font-size: 2.2em;
}
.cartCorner img{
    height: 3em;
}
.cartCorner:hover{
    padding-right: 20px;
}


/* Checkout (Popout) */
.popoutCheckout{
    height: 110%;
    width: 110%;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 20000;
    background-color: #000000de;
}
.popoutCheckout h1{
    font-size: 2.5em;
    text-align: center;
}
.popoutContain{
    width: 60%;
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
}
.popoutCheckContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.popoutControls{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.popoutControls h3{
    width: 30%;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}
.popExt{
    background-color: lightcoral;
}
.popCheck{
    background-color: lightgreen;
}


/* Navigation Bar */
.navigationBar{
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    width: 100%;
    flex-wrap: wrap;
    z-index: 5;
    border-bottom: 1px solid #000;
    transition: 200ms;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    
}
.navBarContain{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navLogo{
    padding-left: 1vw;
    height: 100%;
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}
.navLogo img{
    height: 60%;
}
.navLogo h3{
    font-size: 1.5em;
    font-weight: 900;
}


.navOptions{
    margin-right: 1vw;
    width: fit-content;
    display: flex;
    align-items: center;
    height: 100%;
}
.navigationBar ul, li{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
}
.navigationBar li{
    height: 100%;
    transition: 200ms;
    font-size: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
}
.navOptions li:hover{
    background-color: rgb(228, 228, 228);
    transition: 250ms;
}

.vLine{
    border: 1px solid black;
    width: 0px;
    height: 2em;
    margin-left: 1vw;
    margin-right: 1vw;
}
.navOptions img{
    height: 60%;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
}
.navOptions img:hover{
    border: 1px solid rgb(0, 0, 0);
    transition: 0.5s;
}


.extMenuButton{
    margin-right: 1vw;
    height: 60%;
    display: none;
    cursor: pointer;
}
.extMenu{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    transition: 200ms;
}

.extMenuProfile{
    display: flex;
    height: 5vh;
    width: 20%;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: lightgray;
    gap: 20px;
    cursor: pointer;
    transition: 250ms;
}
.extMenuProfile:hover{
    background-color: lightgray;
    width: 100%;
    border-radius: 0px;
    transition: 0.5;
}
.extMenuProfile img{
    height: 100%;
    border-radius: 50px;
    border: 1px solid black;
}
.extMenu ul{
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}
.extMenu li{
    width: 100%;
    font-size: 2em;
    text-align: center;
    border-radius: 20px;
    justify-content: center;
}
.extMenu li:hover{
    background-color: lightgray;
}
.extMenu .close{
    width: 20vw;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-bottom: 1.5vh;
    transition: 200ms;
}
.close img{
    height: 3em;
}
.extMenu .close:hover{
    background-color: lightgray;
    transition: 200ms;
    width: 100%;
}

@media only screen and (max-width: 700px){
    .navOptions{
        display: none;
    }
    .extMenuButton{
        display: block;
    }
    .extMenuProfile{
        width:40%;
    }
}


.containerHome{
    height: fit-content;
    width: 100%;
}
.containerHome h1{
    font-size: 3em;
}
.spacer{
    height: 12vh;
}



.pointr{
    height: 10vh;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.heroSection{
    background: url(img/backgroundHero.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    height: 90vh;
    position: relative;
    overflow: hidden;
}
.heroContent{
    margin-top: 5vh;
    margin-left: 5vw;
    width: fit-content;
}
.heroContent h1{
    font-size: 4em;
}
.heroContent p{
    font-size: 2em;
    color: rgb(65, 65, 65);
}
.heroSection h3{
    margin-top: 20px;
    font-size: 2em;
}
.heroSection .downArrow{
    height: fit-content;
    width: 100%;
    justify-content: space-between;

    position: absolute;
    bottom: -1vh;
    right: 50%;
    translate: 50%;
}
.downArrow img{
    height: 20vh;
}



.orderButton{
    text-align: center;
    width: 40%;
    background-color: crimson;
    border-radius: 0px 50px 50px 0px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2vw;
    transition: 200ms;
    cursor: pointer;
    color: white;
    margin-top: 5vh;
}
.orderButton p{
    word-wrap:normal;
    font-size: 2rem;
    font-weight: 900;
}
.orderButton img{
    height: 2rem;
    margin-right: 1em;
}
.orderButton:hover{
    width: 42%;
    transition: 1000ms;
}
@media only screen and (max-width:700px) {
    .heroContent{
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-top: 15vh;
    }
    .heroContent h1{
        font-size: 2.5em;
    }
    .heroContent p{
        display: none;
    }
    .heroSection h3{
        font-size: 1.5em;
    }
    .heroSection{
        background-size: cover;
        background-position: center left;
        height: 69vh;
    }
    .orderButton{
        width: 100%;
        justify-content: center;
        border-radius: 0px;
    }
    .orderButton:hover{
        width: 100%;
    }
    .orderButton p{
        font-size: 1.8em;
    }
    .orderButton img{
        height: 1.5em;
    }
}



/* Card for Products test */
.homepageSection{
    height: fit-content;
    width: 100%;
    max-width: 100%;
}
.homepageSection hr{
    margin-top: 30px;
    margin-bottom: 30px;
}
.prodSect{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0c0c0c;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.prodSect h1{
    padding-left: 20px;
    margin-bottom: 5px;
}
.prodCategory{
    height: fit-content;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: relative;
}
#prodPrice::before{
    content: "₱";
}
#prodPrice::after{
    content: ".00";
}
.card{
    height: fit-content;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(46, 46, 46, 0);
    transition: 100ms;
    position: relative;
    cursor: default;
}
.card h2{
    width: 200px;
    max-width: 100%;
    font-size: 1.5em;
    font-weight: lighter;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
}
.card h3{
    font-size: 2em;
    font-weight: 900;
}
.card img{
    width: 200px;
    height: 250px;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
}
.card:hover{
    background-color: rgb(59, 59, 59);
}
.cardBottom{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
}
.addToCardLogo img{
    height: 2em;
    width: 2em;
    transition: 0ms;
    visibility: hidden;
}
.addToCardLogo{
    visibility: hidden;
    display: flex;
    width: 30%;
    background-color: rgba(220, 20, 60, 0);
    transition: ease-in-out 200ms;
    border-radius: 10px;
    cursor:pointer;
    justify-content: space-around;
    align-items: center;
}
.addToCardLogo h4{
    display: none;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    transition: 200ms;
}

.card:hover .addToCardLogo{
    width: 100%;
    visibility: visible;
    background-color: crimson;
}
.card:hover .addToCardLogo h4{
    display: block;
}
.card:hover .addToCardLogo img{
    visibility: visible;
}


/* Card for Brands */
.cardBrands{
    height: 150px;
    width: 150px;

}
.cardBrands img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 200px;
    border: 5px solid rgba(26, 26, 26, 0);
    transition: 200ms;
}
.cardBrands img:hover{
    border: 5px solid rgb(75, 75, 75);
}

/* Button to direct on other pages */
.homeButt{
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.homeButt a{
    text-decoration: none;
    color: white;
    background-color: crimson;
    font-size: 2.5em;
    border-radius: 30px 0 0 30px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    transition: 250ms;
}
.homeButt a:hover{
    padding-right: 40px;
}
@media only screen and (max-width:700px){
    .card{
        background-color: #1a1a1a;
    }
    .homeButt a{
        text-align: center;
        border-radius: 0px;
        width: 100%;
    }


    .addToCardLogo{
        width: 100%;
        visibility: visible;
        background-color: crimson;
    }
    .addToCardLogo h4{
        display: block;
    }
    .addToCardLogo img{
        visibility: visible;
    }
}
.divdr{
    display: flex;
    justify-content: center;
    background-color: #b9b9b9;
}
.divider{
    display: flex;
    justify-content: center;
    width: 80%;
    border: 2px solid rgb(43, 43, 43);
    background-color: rgb(43, 43, 43);
}
.divn{
    width: 50%;
    border: 1px solid #000000 ;
}
/* Services / Why Us */
.servicesSect{
    color: rgb(12, 12, 12);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.servicesSect h1{
    padding-left: 20px;
    margin-bottom: 5px;
    margin-top: 20px;
}
.servicesSectCards{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.cardServices{
    color: rgb(236, 236, 236);
    text-align: center;
    width: 25%;
    background-color:#0c0c0c;
    border-radius: 10px;

}
.cardServices h2{
    font-size: 1.8em;
    padding-top: 20px;
}
.cardServices p{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    font-weight: lighter;
}
.aboutUs{
    margin-top: 40px;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}
.aboutContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.aboutUs h1{
    font-weight: bolder;
}
.aboutUs p{
    width: 69%;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: lighter;
}

@media only screen and (max-width:700px){
    .servicesSectCards{
        gap: 20px;
        flex-direction: column;
        justify-content: center;
    }
    .cardServices{
        width:100%;
        border-radius: 0;
    }
}



/* Reviews Section */
.reviewsSect{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.reviewsSect h1{
    margin-top: 20px;
}
.cardReviews{
    width: 30%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.cardReviewContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.starsRating{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: #4e4e4e;
    border-radius: 5px;
}
.starsRating p{
    width: 100%;
    text-align: center;
}
.stars{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.stars img{
    height: 16px;
}
.reviewTop{
    padding: 10px;
    background-color:rgb(43, 43, 43);
    color: white;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviewBottom{
    width: 75%;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #b1b1b1;
}
@media only screen and (max-width:700px){
    .cardReviewContainer{
        flex-direction: column;
    }
    .cardReviews{
        width: 100%;
        border-radius: 0px;
    }
}


/* Footer */
.footerSect{
    font-family: monospace;
    margin-top: 20px;
    background-color: #0c0c0c;
    color: white;
    height: 25vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.footerSect img{
    padding: 5px;
    height: 5em;
    width: 5em;
    object-fit: contain;
    background-color:#1a1a1a;
    border-radius: 20px;
}
.footerSect{
    color: rgb(156, 156, 156);
}
.footerContain{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}
.optionsFooter{
    text-align: center;
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.optionsFooter ul{
    font-weight: 900;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    text-decoration: underline;
}